@model WebBlog.Contracts.Models.Responce.Comment.CommentViewModel


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

    <br />
<h3>Вы уверены что хотите удалить коментарий?</h3>
<br/>
<div>
    <h4>Коментарий</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CommentId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <button type="button" class="btn btn-secondary"onclick="history.back()">Назад</button>
        
    </form>
</div>
</body>
</html>
